body{
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
    
}
body::-webkit-scrollbar {width:0px;}
.clear{
    clear: both;
}


.slider{
    text-align: center;
    background-image: radial-gradient(circle farthest-side at center bottom,#c0392b 0,#2c3e50 100%);
    border-top: 5px solid red;
    width: 100%;
    position: absolute;
    height:calc(100% - 5px);
    z-index: 3;
    user-select:none;
}

.leader{
    width: 100%;
    margin-top: 10%;
    text-align: center;
    user-select: none;
}
.leader h1{
    font-size: 50px;
    color: #ffffff;
    font-weight: 300;
}
.leader h2{
    font-weight: 300;
    font-size: 17px;
    color: white;
}

.leader-buttons{
    margin:0 auto;
}

.btn-container{
    width: 30%;
    margin:0 auto;
}

.btn{
    float: left;
    width: calc(40% - 2px);
    padding: 10px 0px;
    color: #ffffff;
    background-color: #2ECC71;
    margin: 5%;
    border: 1px solid #2ECC71;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.btn:hover{
    background-color: #27AD60;
}

.one-btn{
    
}
.one-btn a div{
    width: calc(30% - 2px);
    margin-left: calc(35% - 2px);
    padding: 0px;
    min-width: 140px;
}
.no-bg{
    background: none;
}
.btn img{
    float:left;
    margin-left: 20%;
}
.btn span{
    float: left;
    margin: 8px;
}
.leader-imgs{
    position: absolute;
    bottom: 80px;
    width:100%;
    height: 35%;
    max-height: 35%;
    margin: 0 auto;
    text-align: center;
}
.img-1{
    height: 100%;
    width: fit-content;
    margin: 0 auto;  
    /*27.6%*/
    z-index: 3;
}



.sole{
    position: absolute;
    bottom: 0;
}

.leader-imgs div img{
    border-radius: 5px;
}



.nav-bar{
    position: relative;
    width: 70%;
    height: 40px;
    z-index: 10;
    margin: 0 auto;
    margin-top: 20px;
}
.logo{
    float: left;
}
.nav-btns{
    float: right;
    height: 100%;
}
.nav-btn{
    float: left;
    margin: 0px 2px;
    padding: 10px;
    cursor: pointer;
}
.nav-btn a{
    color: #BDC3C7;
    text-decoration: none;  
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    text-transform: uppercase;
}
.nav-btn a:hover{
    color: #fff;
    text-decoration: underline;  
}
.junction-arrow{
    position: absolute;
    top:45%;
    margin: 0 auto;
    background:url("../img/icons/go_to_white.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 10px 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
    opacity: 0.1;
    user-select: none;
    z-index: 10;
}
.right-arrow{
    right: 0px;
}
.left-arrow{
    left: 0px;
    transform: rotate(180deg);
}
.junction-arrow:hover{
    opacity: 1;
}

.slide{
    position: absolute;
    width:100%;
    height:100%;
    top: 0px;
    display: block;
    z-index: 3;
}

.slide-0{
    left: 0px;  
}
.slide--1{
    left:-100%;
}
.slide--2{
    left:-200%;
}
.slide-1{
    left:100%;
}
.slide-2{
    left:200%;
}



/*  Features.   */
.features{
    width: 100%;
    position:absolute;
    top:100%;
    height: 100%;
    user-select:none;
}
.features-container{
    padding: 40px 10%;
    text-align: center;
    margin: 0 auto;
    color: #2C3E50;
}
.description{
    line-height: 1.4;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 22.4px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.sep{
    height: 1px;
    background-color: #f5f5f5;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.features-table{
    text-align: center;
    margin: 0 auto;
}
.features-table tr{
    
}
.features-table tr td{
    width: 20%;
    padding: 10px;
    font-size: 14px;
    vertical-align: top;
}

.feature-title img{
    width: 25px;
    margin-right: 7px;
}
.feature-title{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
}
.feature-description p{
    color: #16A085;
    margin: 0px;
}