body{
    margin: 0 auto;
    background-color: #f7f7f7;
}
.clear{
    clear: both;
}
.no-select{
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.main-options{
    margin-top: 5px;
    background-color: #f7f7f7;
    width: 100%; 

}
.nav-bar{
    margin-top: 5px;
    float:left;
    width: 100%;
    position: relative;
    top: -50px;
}
.nav-options{
    float:left;
    width: calc(50% - 12px);
    border: 1px solid #ccc;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
    background: #fff;
    border-bottom: 5px solid #ff0000;
    cursor: pointer;
}

.nav-options b{
    color:#888;
    font-size: 18px;
    letter-spacing: 2px;
}
.workspace-options{
    margin-top: 45px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px #6E6E6E;
    float:left;
    width: 100%;
    
}
.data-options{
    min-height: 600px;
    display: none;
    padding: 0% 15% 0% 15%;
}

/* Droplist styles */

.droplist-title{
    float: left;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.droplist-title h1,h2{
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #252525;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
}
h1{
    font-size: 2.4em;
}



.item-container{
    float:left;
    width: calc(23% - 2px);
    margin-left: 2%;
    margin-bottom: 2%;
    box-shadow: 0 0 10px 5px #6E6E6E;
    padding: 10px 0px 0px 0px;
    border-radius: 7px;
    text-align: center;
    border-top: 5px solid #ff0000;
}
.item-container div{
    float:left;
}

.item-title{
    width:100%;
    text-align: center;
    border-top: 1px dashed #ccc;
    
}
.item-title h5{
    color:#252525;
    font-weight: 600;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    padding: 0px 5px;
    margin: 0 auto;
    vertical-align: baseline;
        margin-top: 10px;
    margin-bottom: 10px;
    min-height: 28px;
}

.item-other{
    border-top: 1px solid #ccc;
    width: 100%;
}
.item-other div{
    width: 50%;
    height: 30px;
}
.item-other div span{
    line-height: 2.5;
    font-weight: 700;
}


.item-price span{
    color:#252525;
}
.item-addToCart{
    background: linear-gradient(90deg, #5cb85b, #008000);
    border-radius: 0px 0px 6px 0px;
    cursor: pointer;
}

.item-addToCart span{
    color:#fff;  
}
.droplist-cart{
    position: fixed;
    top: 90px;
    right: 5%;
    cursor: pointer;
}
@keyframes cartScale { 
   0% {transform: scale(1);}
   50%{transform:scale(1.2);}
}
.droplist-cart:hover{
    animation: cartScale 0.9s infinite ease-in-out;
}

/* Form data styles */

.card-form{
    width:670px;
    margin-left: calc(50% - 335px);
}

.half-form{
    float:left;
    width: 313px;
    background-color: #f3f3f3;
    border:1px dashed #ccc;
    padding: 10px;
}
.right-side{
    border-left:none;
}
.field-large{
    border:1px solid #ccc;
    width: calc(100% - 22px);
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 10px;
}

.field-middle{
    float: left;
    border:1px solid #ccc;
    width: calc(50% - 26px);
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 10px;
}
.field-middle:nth-child(odd){
    margin-right: 8px;
}
.left-side .multi-form:last-child input{
    margin-bottom:0px;
}
.field-small{
    float: left;
    padding: 10px;
    border:1px solid #ccc;
    border-radius: 3px;
}
.right-side .multi-form{
    margin-bottom: 8px;
        
}
.right-side .multi-form input{
    width: 15%;
    float: right;
        
}
.right-side .multi-form img{
    float: right;
    padding: 6px;    
}
.full-form{
    float: left;
    width: 100%;
}
.top-side{
    width:669px;
    background-color: #636363;
}
.card-form-title{
    float:left;
    width: 50%;
}
.card-form-title h4{
    margin: 5px;
    color:#fff;
    font-weight: 400;
    font-family: 'Courier New',Courier,Monaco;
    font-size: 11px;
    margin-left:10px;
}
select{
    padding: 9px 10px!important;
}
.select-year{
    margin-left: 8px;
}
.balance-constraints{
    margin-bottom: 20px;
}
.terms-checkbox{
    margin:5px;
}
.terms{
    margin-bottom: 23px;
}
.bottom-side{
    border:1px dashed #ccc;
    border-top: none;
    width: 667px;

}
.bottom-side input{
    float:right;
    margin-right: 10px;
    border-radius: 0px;
    border: none;
    color:#fff;
    font-weight: 600;
    font-family: 'Courier New',Courier,Monaco;
    font-size: 11px;
    padding: 10px 30px;
    margin: 6px;
    cursor: pointer;
}
#delete-button{
    background-color: #000;
}
#delete-button:hover{
    background-color: #40393a;
}
#save-button{
    background-color: #ff0000;
}
#save-button:hover{
    background-color: #db0000;
}

.card-nav-bar{
    border:1px dashed #ccc;
    width: 667px;
}
.nav-card{
    float:left;
    width: 222px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
.nav-card b{
    text-transform: uppercase;
    color: #999;
    font-size: 12px;
    font-family: "Courier New", Courier, Monaco;
}
.selected-bg{
    background-color: #636363;
    color: #fff;
}
.selected-bg b{
    color: #fff;
}