body{
    margin: 0 auto;
    width: 270px;
    background-color: #f7f7f7;
    font-family: "Courier New", Courier, Monaco;
}
.popup-logo{
    padding: 5px 60px 5px 60px;
    border: none!important;
}
.popup-actions{
    border-bottom:none!important;
}
.main div{
    width:100%;
    float: left;
    border-bottom: 1px solid #ccc;
}


.popup-description{
    padding: 5px;
}
.popup-actions div{
    width:100%;
    height: 30px;
    line-height: 2.5em;
    cursor: pointer;
    color: #888;
    text-align: left;
    padding-left:5px;
}
.popup-actions a:last-child .action-button{
    border-bottom: none;
}   

.popup-actions div:hover{
    background-color: #f0f0f0;
}

.popup-actions div b{
    padding: 5px 5px 5px 5px;
}

a{
    text-decoration: none;
    color: #888;
    cursor: pointer;
    text-align: left;
    font-weight: 200;
    font-size: 14px;
}
.last{
    border-bottom: none!important;
}
.real-time{
    padding: 10px;
    text-align: center;
}
.real-time b{
    font-weight: 200;
    font-size: 14px;
    text-align: center;
}