*{
    -webkit-transition: all 0ms!important;
    -moz-transition: all 0ms!important;
    -ms-transition: all 0ms!important;
    -o-transition: all 0ms!important;
    transition: all 0ms!important;
    opacity: 1!important;
}

.warningBlock{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}